
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~toastr/toastr.scss";

@font-face {
    font-family: Bender;
    src: url("../fonts/bender.otf");
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #090809;
  color: white;
  text-align: center;
}

@font-face {
  font-family: BenderBold;
  src: url("../fonts/bender-Bold.otf");
}

.bg-dark {
    background-color: #090809 !important;
}

.thin-border {
  border:1px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.image-block {
  width: 100%;
  position:relative;
  background:url() 50% 50% no-repeat;
  min-height: 12vh;
  background-size:cover;
  border-radius: 8px;
}

.btn {
  border-radius:0;
  border:0;
  background-color: #9a8866;
  color: black;
  text-transform: uppercase;
  width:25%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #fef7db;
    border-color: #fef7db;
    color:black;
}

.modal-header {
  border-bottom: 1px solid #9a8866;
}

.list-group-item{
  background-color: #090809;
  border:1px solid #9a8866;
}

a {
  color: #ad9464;
}

label {
  color: #9a8866;
  font-family: Bender;
}

p, h5, span{
  color:white;
  font-family: Bender;
}

a, li {
  font-family: Bender;
  color:#9a8866;
}

.bold {
  font-family: BenderBold;
}

body {
  background: url('../images/eftbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}
