
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~toastr/toastr.scss";

.bg-dark {
    background-color: #000 !important;
}

.thin-border {
  border:1px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.image-block {
  width: 100%;
  position:relative;
  background:url() 50% 50% no-repeat;
  min-height: 12vh;
  background-size:cover;
  border-radius: 8px;
}

.btn {
  border-radius:0;
}

p {
  //color:white;
}

body {
  //background-color: #353a3f;
  background: url('../images/eftbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}
